{% extends 'regbase.html' %}
{% block body %}

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile">
                <div class="main-mailposi">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                </div>
                <div class="modal_body_left modal_body_left1">
            
                    <h3 class="agileinfo_sign">Edit Profile </h3>
                    {% if error_message %}
                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
            {% endif %}

                    <form action="{{order_obj.get_orderid2}}" method="post">

                          {% csrf_token %}
                          <div class="col-2">
                            <div class="input-group">
                            
                                <div class="input-group-icon">
         
                                 {{ form.as_p}}
                        <button class="btn btn--radius-2 btn--blue" type="submit">Confirm to Change</button>
                 
                                </div>
                            </div>
                          </div>
                    </form>
                </p>
          
                
            <br>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->

  
{% endblock %}