{% extends 'regbase.html' %}
{% block body %}
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                
                    <h3 class="title" style="text-align: center;">Registration Form</h3>
                    <h4 style="color: rgb(61, 85, 68);">
							Come join the Grocery Shoppy! Let's set up your Account.
                            <!--
                            {% if form.errors %}
                          <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
                               <div>
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <span class="fieldWrapper">
                                            {{ key }}:{{ value|escape }}
                                        </span>
                                    {% endfor %}
                                </div>
                               </div>
                          </div>

                              
                            {% endif %}-->
                            
                    </h4>
                        {% if error_message %}
                        <br>
                        <p  style="color: rgb(240, 6, 6);">{{ error_message }}</p>
                    {% endif %}
                    <br>
						<form action="{% url 'accounts:register2' %}" method="post"  novalidate>
                        {% csrf_token %}

                    
                        <div class="col-2">
                            <div class="input-group">
                            
                                <div class="input-group-icon">
                              
                                   {{form.as_p}}
                                  
                                </div>
                            </div>
                        </div>
          

                        <div class="p-t-15">
                          
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                            </div>

                           
                    </form>
                    <br>
                    <p>
                        <a href="http://127.0.0.1:8000/login/"><h3>Already have an account, Please LOGIN</h3></a>
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}