{% extends 'regbase.html' %}

{% block body %}

        <!-- Modal content-->
              
<h3 class="agileinfo_sign">Sign Up</h3>
{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<p style="color: darkred;">{{ message }} </p> 
	{% endfor %}
</ul>
{% endif %}
					
						<form action="http://127.0.0.1:8000/register2/" method="post">
							
							{% csrf_token %}
							<!--
								{{ User_form.as_p }}
								{{ UserProfile_form.as_p }}-->
							    {% for field in form %}
								<div class="col-2">
									<div class="input-group">
								<p>
								  {{ field.label_tag }}<br>
								  <div class="input-group-icon">
								  {{ field }}
								  {% for error in field.errors %}
									<p style="color: red">{{ error }}</p>
								  {% endfor %}
								</p>
							  {% endfor %}
						
							</div>
						</div>
					  </div>
							  <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
						</form>
						<p>
							<a href="http://127.0.0.1:8000/login/"><h3>Already have an account, Please LOGIN</h3></a>
						</p>
                
    


{% endblock body %}
